body {
    /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
    height: 100%;
;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.Button {
    margin: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: 1px #33AB20;
    width: 220px; /* Set a width if needed */
    padding: 30px 74.6px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#storyText {
    margin: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #33AB20;
    width: 500px;
    height: 300px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
#inventory {
    display: inline-block;
    margin: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #33AB20;
    width: 500px;
    height: 300px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}