body{
    zoom: 1.5;
}
h1 {
    text-align: center;
    margin-bottom: 100px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    margin: 1px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: 1px #33AB20;
    width: 90px;
    height: 43px; 
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.Button {
    margin: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: 1px #33AB20;
    width: 220px; /* Set a width if needed */
    padding: 30px 74.6px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#storyBorder {
    margin: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #33AB20;
    width: 500px;
    height: 300px;
    position: relative;
    display: inline-block;
}
#storyText{
    font-size: 18px;    
    font-family: Arial, Helvetica, sans-serif;

}
#inventoryBorder{
    display: inline-block;
    margin: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #33AB20;
    width: 500px;
    height: 300px;
}
#inventoryText {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
